Unit Tests/Specta/Specta.xcodeproj/xcuserdata
Unit Tests/Specta/Specta.xcodeproj/project.xcworkspace/xcuserdata
Unit Tests/Kiwi/Kiwi.xcodeproj/project.xcworkspace/xcuserdata
Unit Tests/Kiwi/Kiwi.xcodeproj/xcuserdata
Unit Tests/Quick/Quick.xcodeproj/xcuserdata
Unit Tests/Quick/Quick.xcodeproj/project.xcworkspace/xcuserdata
Unit Tests/Specta/Pods/Pods.xcodeproj/xcuserdata
Views Debugging/ViewsDebugging/ViewsDebugging.xcworkspace/xcuserdata
Unit Tests/Quick/.idea
Unit Tests/Specta/.idea
Unit Tests/Kiwi/.idea
Property Mapping/Pods/Pods.xcodeproj/xcuserdata
Property Mapping/PropertyMapping OpenSourceBar.xcodeproj/xcuserdata
Property Mapping/.idea
iOS Class Guard/ExampleBankingApp.xcodeproj/xcuserdata
iOS Class Guard/.idea
iOS Class Guard/iOSClassGuard OpenSourceBar.xcodeproj/xcuserdata
iOS Class Guard/iOSClassGuard OpenSourceBar.xcodeproj/project.xcworkspace/xcuserdata
iOS Class Guard/build.obf
iOS Class Guard/build
iOS Class Guard/Pods/Pods.xcodeproj/xcuserdata
xcuserdata
